#button{
    position:relative;
    z-index:10;
}

.overlay { display: none; }

#overlayId {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 50%;
height: 50%;
background: #FFF;
z-index: 2;
-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
overflow-y: auto;
}


body {
font-family: Arial, sans-serif;
font-size: 120%;
padding: 20px;
}

p {
    margin: 1em 0;
}

p+p+p {
    font-size: 60%;
}